@{
    ViewBag.Title = "Twitter API for ASP.Net MVC3 - Emipro Technologies, India";
}

<p>
    <a href="/Home/GetConnectedWithTwitter" title="Get Connected with twitter">Get Connected with twitter</a>.
</p>
